/*
Author: Andrew Gardner
Date: 25-26/2/2024
*/

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25vw;
}

h2 {
  color: #dc2626;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
}

h3 {
  color: black;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
}

h4 {
  color: black;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 2rem;
}

h5 {
  color: white;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem;
}

.splash {
  background-color: #00000052;
  height: 100vh;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: auto;
  background-image: url(img/splash.jpg);
  background-blend-mode: hard-light;
  box-shadow: 0 0 50rem rgba(160, 6, 6, 0.363) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  transition: padding 1s ease;
}

.splash h1 {
  opacity: 1;
  margin-top: auto;
  transition: transform 1s ease;
  user-select: none;
}

.splash h1:hover {
  cursor: crosshair;
  transform: scale(105%);
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5rem;
  text-decoration: none;
  user-select: none;
  transition: transform 1s ease;
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
}

.explore:hover {
  transform: translateY(1rem);
}

.explore:active {
  cursor: default;
}

.content {
  min-height: 100vh;
}

.content > * {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content > section {
  min-height: 50vh;
}

.content > article {
  min-height: 100vh;
}

.story {
  padding: 1rem 2rem;
}

.story > *:first-child {
  margin-bottom: 5vh;
}

.story > h4 {
  padding: 0 3rem;
}

.menu {
  padding: 1rem 2rem;
  justify-content: space-around;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  transition: transform 0.3s ease;
  user-select: none;
}

.menu li:hover {
  cursor: pointer;
  transform: scale(120%);
}

.menu h3 {
  transition: background-color 0.2s ease, color 0.05s ease;
}

.menu h3:hover {
  color: white;
  background-color: #dc2626;
}

.menu li:active {
  cursor: default;
  transform: scale(115%);
}

.contact div:first-child {
  margin-bottom: 5vh;
}

.social {
  display: flex;
  justify-content: center;
}

.social > * {
  transition: transform 0.3s ease;
}

.social > *:hover {
  cursor: pointer;
  transform: scale(120%);
}

.social > *:active {
  cursor: default;
  transform: scale(110%);
}

#menu-large {
  display: none;
}

#explore-large {
  display: none;
}

@media screen and (min-width: 1400px) {
  #menu-large {
    display: flex;
  }

  #menu {
    display: none;
  }

  #explore {
    display: none;
  }

  #explore-large {
    display: flex;
  }

  section {
    display: inline;
    width: 49vw;
    border-right: 1px solid black;
  }

  article {
    width: 49.5vw;
    float: right;
  }
}
